{% load static %}
<html lang="fr">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="px-5 navbar navbar-expand-lg navbar-dark bg-primary  justify-content-between">
    <div class="row">
        <a class="navbar-brand" href="/">J'ai une idée</a>
        <ul class="navbar-nav">

                <a class="nav-link" href="/">Page d'accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/submit">Soumettre une idée</a>
            </li>
        </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-light my-2" href="/account/signin">
            {% if user.is_authenticated %}
                {{user.username}}
            {% else %}
                Se connecter
            {% endif %}
        </button>
    </form>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
