{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="container d-flex flex-column h-100 py-5">
    <h1 class="text-info">
        J'ai une idée
        <i class="fas fa-lightbulb px-2"></i>
    </h1>

    <div class="h-100 row align-items-center">
        <form class="container d-flex flex-column">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="align-self-end py-2">
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
